Adafruit-Blinka==6.15.0
adafruit-blinka-displayio==0.7.0
adafruit-circuitpython-adafruitio==5.5.0
adafruit-circuitpython-bitmap-font==1.5.1
adafruit-circuitpython-busdevice==5.1.0
adafruit-circuitpython-display-text==2.21.0
adafruit-circuitpython-esp32spi==3.5.11
adafruit-circuitpython-fakerequests==1.0.4
adafruit-circuitpython-neopixel==6.2.2
adafruit-circuitpython-pixelbuf==1.1.0
adafruit-circuitpython-portalbase==1.9.3
adafruit-circuitpython-requests==1.10.0
adafruit-circuitpython-simpleio==3.0.1
Adafruit-PlatformDetect==3.16.0
Adafruit-PureIO==1.1.9
numpy==1.21.2
Pillow==8.4.0
pyftdi==0.53.3
pyserial==3.5
pyusb==1.2.1
recordclass==0.16.2
